<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ruc</title>
</head>
<body>
    <h1>Búsqueda con Número de  Ruc</h1>
    <form method="get">
        <label for="ruc">Ingresar Ruc:</label>
        <input type="text" id="ruc" name="rucname" >
        <button type="submit">Buscar Ruc</button>
    </form>
 
    
    <p> Nombre de la empresa:  <strong>{{ nombre }}</strong></p>
    <p> Ruc: <strong>{{ numeroDocumento }}</strong></p>
    <p> Estado: <strong>{{ estado }}</strong></p>
    <p> Ubigeo: <strong>{{ ubigeo }}</strong></p>
    <p> Distrito: <strong>{{ distrito }}</strong></p>
</body>
</html>